@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
   text-decoration: none; 
}

ul {
    list-style: none;
}

body {
    font-family: "Rubik";
    font-weight: 500;
}

.container {
    max-width: 1470px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

nav {
    background: #3E8989; 
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
}

.list li {
    padding: 36px 30px;
}

.link {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #FFFFFF;
}

.form__search {
    background: #FFF;
    border-radius: 20px 0px 0px 20px;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    color: #898989;
    padding: 8px 20px;
    outline: none;
    box-shadow: none;
    border: none;
}

.form__btn {
    background: #295E5E;
    border-radius: 0px 20px 20px 0px;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFF;
    padding: 9px 14px;
    outline: none;
    box-shadow: none;
    border: none;
}

.baner {
    background: url(img/baner.png) no-repeat center / cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Rubik";
    font-size: 80px;
    font-weight: 600;
    line-height: 94.8px;
    color: #FFF;
}

.baner__desc {
    font-family: "Rubik";
    font-size: 40px;
    font-weight: 500;
    line-height: 47.4px;
    color: #FFF;
    margin: 20px 0 50px;
}

.main__btn {
    background: #B4436C;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    padding: 14px 77px;
    color: #FFF;
    border-radius: 30px;
    outline: none;
    box-shadow: none;
    border: none;
    transition: 500ms;
}

.main__btn:hover {
    color: #B4436C;
    background: #FFF;
}

.about__title {
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    color: #3E8989;
    margin: 80px 0 50px;
}

.about .container {
    display: flex;
    justify-content: center;
}

.about__box {
    max-width: 545px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__box p {
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.33px;
    margin-left: 20px;
}

.about__desc {
    margin-bottom: 20px;
}

.cat__title {
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    color: #3E8989;
    margin: 97px 0 53px;
}

.catalog .container {
    display: flex;
    justify-content: center;
    max-width: 1110px;
    width: 100%;
}

.bg__img {
    background: #EFEFEF;
    max-height: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat__box {
    max-width: 263px;
    width: 100%;
}

.one {
    margin-right: 20px;
}

.two {
    margin-right: 19px;
}

.three {
    margin-right: 20px;
}

.cat__box p {
    margin-top: 30px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    transition: 500ms;
}

.cat__box p:hover {
    color: #B4436C;
}

.contact .container {
    max-width: 1110px;
    width: 100%;
    margin-top: 100px;
}

.contact__title {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    color: #3E8989;
    margin-bottom: 50px;
}

.contact__box {
    display: flex;
    justify-content: space-between;
}

.contact .container p {
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    color: #000000;
}

.email {
    margin-top: 20px;
}

footer {
    background: #3E8989;
    margin-top: 104px;
    padding-bottom: 20px;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    margin: 40px 0 59px;
}

.links {
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #FFFFFF;
}

.menu li {
    padding-right: 30px;
}

footer .container p {
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    color: #FFFFFF;
}